@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900|Hind+Siliguri:300,400,500,600,700');

:root {
    --clr-blue: #9DBCD4;
    --clr-white: #f4f4f4;
    --clr-indigo: #6D5ACF;
    --clr-yellow: #FFFD01;
    --clr-teal: #b6fbff;
    --clr-royal-blue: #02066F;
    --ff-head: 'Noto Sans JP', 'Sans';
    --ff-body: 'Hind Siliguri', 'Sans';
}

* {
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    background-color: var(--clr-white);
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--ff-head);
    border-bottom: 5px solid var(--clr-yellow);
}

.navbar-stick {
    display: flex;
    top: 0px;
    left: 0px; 
    position: sticky;
    z-index: 999999;
}

@media (min-width: 768px){ 
    .navbar-nav .mr-auto {
    flex: 1;
    margin: auto  !important;
    display: flex;
    }   
}

#navlogo {
    display: block;
    width: calc(8vw + 3rem);
    margin-left: 0.5rem;
}

#link1 {
    padding-left: 20vw;
    padding-right: 5vw;
}


header {
    bottom: -13rem;
}

h1, h4 {
    font-family: var(--ff-head);
    font-weight: 900;
    color: var(--clr-indigo);
    text-align: center;
}

h1 {
    font-size: calc(4vw + 2rem);
}

h4 {
    font-size: calc(1.5vw + 1rem);
}

body {
    background: linear-gradient(to left, #83a4d4, #b6fbff);
}

.control-box {
    color: var(--clr-white);
    font-family: var(--ff-body);
    font-weight: 500;
    border: 5px solid var(--clr-royal-blue);
    border-radius: 10%;
    margin-top: 3rem;
}

.room-name {
    font-size: 2rem;
    padding-top: 4vh;
    padding-bottom: 1.5vh;
    text-align: center;
}

.box-type1 {
    color: var(--clr-royal-blue);
    font-size: 1.3rem;
}

#spinnerX {
    width: 5rem;
}

/*--On/Off Switch from proto.io (https://proto.io/freebies/onoff/) --*/
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #999999; 
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 14px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: var(--clr-indigo); color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 14px; 
    margin: 8px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 56px;
    border: 2px solid #999999; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}