@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900|Hind+Siliguri:300,400,500,600,700');

:root {
    --clr-blue: #9DBCD4;
    --clr-white: #f4f4f4;
    --clr-indigo: #6D5ACF;
    --clr-yellow: #FFFD01;
    --clr-teal: #b6fbff;
    --clr-duskyblue: #475F94;
    --clr-royal-blue: #02066F;
    --ff-head: 'Noto Sans JP', 'Sans';
    --ff-body: 'Hind Siliguri', 'Sans';
    --box-border: 5px solid var(--clr-royal-blue);
}

* {
    box-sizing: border-box;
}

/*-Colors--*/
body {
    background: linear-gradient(to left, #83a4d4, #b6fbff);
}

/*--Special Padding/Margins/Text/Borders--*/
.bdr-l {
    border-left: var(--box-border);
}

.bdr-r {
    border-right: var(--box-border);
}

.bdr-t {
    border-top: var(--box-border);
}

.bdr-b {
    border-bottom: var(--box-border);
}

/*--Headings--*/
header {
    bottom: -13rem;
}

h1, h4 {
    font-family: var(--ff-head);
    font-weight: 900;
    color: var(--clr-indigo);
    text-align: center;
}

h1 {
    font-size: calc(4vw + 2rem);
}

h4 {
    font-size: calc(1.5vw + 1rem);
    padding-bottom: 2rem;
}

/*---Navbar---*/
.navbar {
    width: 100%;
    background-color: var(--clr-white);
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--ff-head);
    border-bottom: 5px solid var(--clr-yellow);
}

.navbar-stick {
    display: flex;
    top: 0px;
    left: 0px; 
    position: sticky;
    z-index: 999999;
}

@media (min-width: 768px){ 
    .navbar-nav .mr-auto {
    flex: 1;
    margin: auto  !important;
    display: flex;
    }   
}

#navlogo {
    display: block;
    width: calc(8vw + 3rem);
    margin-left: 0.5rem;
}

#link1 {
    padding-left: 20vw;
    padding-right: 5vw;
}

/*--Control-Box--*/
.control-box {
    color: var(--clr-duskyblue);
    font-family: var(--ff-body);
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 3rem;
}

.room-name {
    color: var(--clr-white);
    font-size: 2rem;
    padding-top: 4vh;
    padding-bottom: 1.5vh;
    text-align: center;
}

.function-name {
    padding-left: 1rem;
    padding-right: 1rem;
}

/*--On/Off Switch from proto.io (https://proto.io/freebies/onoff/) --*/
.onoffswitch {
    position: relative; 
    width: 90px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #999999; 
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 14px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: var(--clr-indigo); color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 14px; 
    margin: 8px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 56px;
    border: 2px solid #999999; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/*--(+/-) Code based on "Add Button Number Incrementers" from *css-tricks, by Chris Coyier, 3/29/13, (https://css-tricks.com/number-increment-buttons/) --*/
.temp form div{
    overflow: hidden;
    margin: 0 0 5px;
}

.temp label {
    display: block;
    float: left;
}

.temp input[type=text] {
    float: left;
    text-align: center;
    background: var(--clr-teal);
    border: none;
    width: 75px;
}

.tempbtn {
    cursor: pointer;
    float: left;
    text-align: center;
}

#control-box i {
    font-size: 25px;
    line-height: 30px;
    color: var(--clr-indigo);
}

.fa-caret-square-up, .fa-caret-square-down {
    padding-left: 10px;
}

/*--code from w3schools.com (https://www.w3schools.com/howto/howto_js_rangeslider.asp)--*/
.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 12px;
  border-radius: 4px;  
  background: var(--clr-teal);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: var(--clr-indigo);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--clr-indigo);
  cursor: pointer;
}

.slidecontainer label {
    display: block;
    float: left;
    margin-left: 1rem;
}

.room-icon {
    width: 50px;
    height: 50px;
    margin-left: 1rem;
    margin-top: 1.5rem;
    border: 2px solid var(--clr-teal);
    background-color: var(--clr-teal);
    border-radius: 50%;
}

#light-icon {
    display: block;
    margin-left: 33%;
    width: 40px;
    height: 40px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: var(--clr-yellow);
    opacity: 0.6;

}


.hcmode {
    text-align: center;
}