@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900|Hind+Siliguri:300,400,500,600,700');

:root {
    --clr-blue: #9DBCD4;
    --clr-white: #f4f4f4;
    --clr-indigo: #6D5ACF;
    --clr-yellow: #FFFD01;
    --clr-teal: #b6fbff;
    --clr-darkteal: #66b2b2;
    --clr-duskyblue: #475F94;
    --clr-royal-blue: #02066F;
    --ff-head: 'Noto Sans JP', 'Sans';
    --ff-body: 'Hind Siliguri', 'Sans';
    --box-border: 5px solid var(--clr-royal-blue);
    --opacity1: 1;
    --opacity2: 1;
    --opacity3: 1;
    --opacity4: 1;
    --opacity5: 1;
    --opacity6: 1;
    --opacity7: 1;
    --brightness: 1;
    --fanspeed1: 0s;;
    --fanspeed2: 0s;
    --fanspeed3: 2s;
    --direction1: normal;
    --direction2: normal;
    --direction3: normal;
    --light-power: .3;
    --hc-power: .3;
    --fan-power: .3;
}

* {
    box-sizing: border-box;
}

/*-Colors--*/
body {
    background: linear-gradient(to left, #83a4d4, #b6fbff);
    font-family: var(--ff-body) important!;
    color: var(--clr-royal-blue);
    font-weight: 600;
    font-size: .9rem;
}

/*--Special Padding/Margins/Text/Borders--*/
.bdr-l {
    border-left: var(--box-border);
}

.bdr-r {
    border-right: var(--box-border);
}

.bdr-t {
    border-top: var(--box-border);
}

.bdr-b {
    border-bottom: var(--box-border);
}

.header {
    font-family: var(--ff-head);
}

.room-name {
    color: var(--clr-white);
    font-size: 2rem;
    font-family: var(--ff-body);
    padding-top: 3vh;
    text-align: center;
    font-weight: 600;
}

@media (min-width: 768px) {
   .room-name {
    padding-left: 2.5rem;
    font-size: 3rem;
    } 
}


.function-name {
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: var(--ff-body);
    color: var(--clr-royal-blue);
    font-weight: 600;
    font-size: 1.15rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
}

@media (min-width: 768px) {
   .function-name {
    padding-left: 2.5rem;
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: .4rem;
    } 
}

.sub-head {
    font-family: var(--ff-body) important!;
    color: var(--clr-royal-blue);
    font-weight: 600;
    font-size: .9rem;
    padding-left: 1.15rem;
} 

@media (min-width: 768px) {
   .sub-head {
    padding-left: 3.5rem;
    font-size: 1.4rem;
    } 
}

#scheduler .head {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: left;
    font-size: 1.15rem;
    font-family: var(--ff-body);
    color: var(--clr-royal-blue);
}

@media (min-width: 768px) {
    .sched-head {
        font-size: 1.6rem;
    }
}

.sched-sub {
    font-family: var(--ff-body) important!;
    color: var(--clr-royal-blue);
    font-weight: 600;
    font-size: .9rem;
    padding-right: 1rem;
}

@media (min-width: 768px) {
   .sched-sub {
    font-size: 1.4rem;
    } 
}

label {
    font-family: var(--ff-body);
    color: var(--clr-royal-blue);
    font-weight: 600;
}

.hcmode, .fan {
    text-align: left;
}


/*--Headings--*/
/*header {
    bottom: -13rem;
}*/

h1, h3, h4, h5 {
    font-family: var(--ff-head);
    font-weight: 900;
    color: var(--clr-indigo);
    text-align: center;
}

h1 {
    font-size: calc(4vw + 2rem);
}

h3 {
    font-size: calc(2vw + 1rem);
}

h4 {
    font-size: calc(1.5vw + 1rem);
}

h5 {
    font-size: calc(0.75vw + 1rem);
}

#closing-head {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.closing-sub {
    font-family: var(--ff-head);
    font-weight: 500;
    font-size: calc(.75vw + .5rem);
    color: var(--clr-duskyblue);
    margin-top: 0px;
}

/*--Images, Icons, Buttons, Inputs, Lines--*/
.room-icon {
    display: block;
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    border: 2px solid var(--clr-teal);
    background-color: var(--clr-teal);
    border-radius: 20%;
}

@media (min-width: 768px) {
   .room-icon {
       width: 5rem;
    height: 5rem;
    } 
}

/*Code provided on stackoverflow by "knetsi" on January 22, 2018*/
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
    background-color: var(--clr-indigo);
}

#light-icon1, #light-icon2, #light-icon3, #light-icon4, 
#light-icon5, #light-icon6 {
    display: block;
    margin-left: 33%;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgb(83,83,83);
}

#light-icon1 {
    opacity: var(--opacity1);
}

#light-icon2 {
    opacity: var(--opacity2);
}

#light-icon3 {
    opacity: var(--opacity3);
}

#light-icon4 {
    opacity: var(--opacity4);
}

#light-icon5 {
    opacity: var(--opacity5);
}

#light-icon6 {
    opacity: var(--opacity6);
}

#light-icon7 {
    opacity: var(--opacity7);
    display: block;
    margin-left: 33%;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid black;
    border-radius: 50%;
    background-color: var(--clr-yellow);
}

#fan-icon1, #fan-icon2, #fan-icon3 {
    display: block;
    margin-left: 33%;
    width: 3rem;
    height: 3rem;
    border: 2px solid #999999;
    border-radius: 50%;
    background-color: #FFFFFF;
    animation: rotate linear; 
    animation-iteration-count: infinite;
}

#fan-icon1 {
    animation-duration: var(--fanspeed1);
    animation-direction: var(--direction1);
}

#fan-icon2 {
    animation-duration: var(--fanspeed2);
    animation-direction: var(--direction2);
}

#fan-icon3 {
    animation-duration: var(--fanspeed3);
    animation-direction: var(--direction3);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.clockwise {
    animation-direction: forward;
}

.counterclockwise {
    animation-direction: reverse;
}

select {
    text-align: center;
    background: var(--clr-teal);
    border: none;
    width: 150px;
    font-family: var(--ff-body);
    font-weight: 400;
    font-size: 1rem;
    color: var(--clr-royal-blue);
}

#btn-submit {
    width: 15rem;
    height: 2.5rem;
    background-color: var(--clr-indigo);
    color: #FFFFFF;
    font-family: var(--ff-head);
    font-weight: 600;
    border: 2px solid var(--clr-indigo);
    border-radius: 15%;
    padding: 2px;
    font-size: .8rem;
}

@media (min-width: 768px) {
    #btn-submit {
        width: 20rem;
        height: 3rem;
        font-size: 1.25rem;
    }
}

#btn-submit:hover {
    background: var(--clr-darkteal);
}

#inline-list {
    padding: 0px;
}

#inline-list li {
    list-style: none;
     display: inline;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 20px;
    height: 20px;;
    padding: 3px;
    margin-top: 0;
    border-radius: 50%;
    text-align: center;
    color: #fafafa;
    background: var(--clr-royal-blue);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: var(--clr-indigo);
}
/*--On/Off Switch from proto.io (https://proto.io/freebies/onoff/) --*/
.onoffswitch {
    position: relative; 
    width: 90px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #999999; 
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 30px;
    font-size: 14px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: var(--clr-indigo); color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 14px; 
    margin: 8px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 56px;
    border: 2px solid #999999; 
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/*--(+/-) Code based on "Add Button Number Incrementers" from *css-tricks, by Chris Coyier, 3/29/13, (https://css-tricks.com/number-increment-buttons/) --*/
.temp form div{
    overflow: hidden;
    margin: 0 0 5px;
}

.temp label {
    display: block;
    float: left;
}

.temp input[type=text] {
    float: left;
    text-align: center;
    background: var(--clr-teal);
    border: none;
    width: 75px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-royal-blue);
}

.input-change {
    background-color: rgba(182,251,255,0.2);
}

.tempbtn {
    cursor: pointer;
    float: left;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    border: none;
    padding: 0px;
    color: var(--clr-white);
    background: transparent;
    transition: transform 300ms ease-in-out;
}

#control-box i, 
#scheduler i {
    font-size: 30px;
    line-height: 30px;
    color: var(--clr-indigo);
    transform: scale(1);
}

.tempbtn:hover {
    transform: scale(1.2);
    border: none;
} 

.fa-caret-square-up, .fa-caret-square-down {
    padding-left: 10px;
}

hr {
    border-top: 3px solid var(--clr-royal-blue);
}

/*---Navbar---*/
.navbar {
    width: 100%;
    background-color: var(--clr-white);
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--ff-head);
    border-bottom: 5px solid var(--clr-yellow);
}

.navbar-stick {
    display: flex;
    top: 0px;
    left: 0px; 
    position: sticky;
    z-index: 999999;
}

@media (min-width: 768px){ 
    .navbar-nav .mr-auto {
    flex: 1;
    margin: auto  !important;
    display: flex;
    }   
}

#navlogo {
    display: block;
    width: 60px;
    margin-left: 0.5rem;
}

@media (min-width: 768px) {
    #navlogo {
        width: 100px;
    }
}

@media (min-width: 992px) {
    #navlogo {
        width: 125px;
    }
}

#link1, #link2 {
    color: var(--clr-indigo);
}

@media (min-width: 592px) {
    #link1 {
        padding-left: 20vw;
        padding-right: 5vw;
    }
}

@media (min-width: 992px) {
    #link1 {
        padding-left: 25vw;
        padding-right: 8vw;
    }
}

@media (min-width: 768px) {
    ul.navbar-nav {
        font-family: var(--ff-head);
        font-weight: 600;
        transform: scale(1);
        transition: transform 300ms ease-in-out;
    }
}

@media (min-width: 768px) {
    ul.navbar-nav a:hover {
        color: var(--clr-darkteal) !important;
        transform: scale(1.2);
    }
}


/*--Sections--*/
.control-box {
    color: var(--clr-duskyblue);
    font-family: var(--ff-body);
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 3rem;
}

#closing {
    background-color: var(--clr-teal);
}

.closing-specs {
    margin-left: .5rem;
    margin-right: .5rem;
    text-align: center;
}

footer {
    background-color: #FFFFFF;
    border-top: 5px solid var(--clr-yellow);
    margin: 0px;
    font-size: 1rem;
    color: var(--clr-indigo);
    font-family: var(--ff-head);
    font-weight: 700;
}

@media (min-width: 768px) {
    footer {
        font-size: 1.5rem;
    }
}

.footer-stick {
    display: flex;
    bottom: 0px;
    left: 0px; 
    position: sticky;
    z-index: 999999;
}

#icon i {
    width: 30px;
    height: 30px;
    background: transparent;
}

/*--code from w3schools.com (https://www.w3schools.com/howto/howto_js_rangeslider.asp)--*/
.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 12px;
  border-radius: 4px;  
  background: var(--clr-teal);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: var(--clr-indigo);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--clr-indigo);
  cursor: pointer;
}

.slidecontainer1 label, .slidecontainer2 label {
    display: block;
    float: left;
    margin-left: 1rem;
}

/*--code from stackoverflow.com, Yudiz_Webdesign, 12/4/19 (https://stackoverflow.com/questions/59169315/datetimepicker-not-working-with-bootstrap-4)--*/
.input-group-append {
    cursor: pointer;
}

ul {
    list-style: none;

}